<ion-view view-title="Restaurantes">

  <br> <br>
  <ion-nav-bar class="bar-dark">
    <ion-nav-buttons side="left">
      <button class="button button-icon buttonq-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>

    <ion-list>
      <div class="itemArtigo itemPalestrante">
        <ion-item style="padding-left: 0px;padding-top: 0px;padding-bottom: 0px;">
          <div class="row">
            <div class="col col-70">
              <ion-thumbnail item-start>
                <ion-thumbnail item-start>
                  <img style="width:110px; height:90px;" alt="Poster" src="img/restaurante1.png">
                </ion-thumbnail>
            </div>
            <div class="col">
              <h2 class="NomeRestaurante">Praça de Alimentação Uninove</h2>
              <p style="padding: 10px; width: 230px; display:block; white-space: pre-wrap;">Subsolo do prédio</p>
              <!--<button ion-button clear item-end>Consultar</button>-->
            </div>
          </div>
        </ion-item>
      </div>

      <div class="itemArtigo itemPalestrante">
        <ion-item style="padding-left: 0px;padding-top: 0px;padding-bottom: 0px;">
          <div class="row">
            <div class="col col-70">
              <ion-thumbnail item-start>
                <ion-thumbnail item-start>
                  <img style="width:110px; height:90px;" alt="Poster" src="img/restaurante2.png">
                </ion-thumbnail>
            </div>
            <div class="col">
              <h2 style="margin-right: 120px;" class="NomeRestaurante">Burger King      </h2>
              <p style="padding: 10px; width: 230px; display:block; white-space: pre-wrap;"><b>Av. Liberdade, 587 (750m)</b></p>
              <!--<button ion-button clear item-end>Consultar</button>-->
            </div>
          </div>
        </ion-item>
      </div>

      <div class="itemArtigo itemPalestrante">
        <ion-item style="padding-left: 0px;padding-top: 0px;padding-bottom: 0px;">
          <div class="row">
            <div class="col col-70">
              <ion-thumbnail item-start>
                <img style="width:110px; height:90px;" alt="Poster" src="img/restaurante3.png">
              </ion-thumbnail>
            </div>
            <div class="col">

              <h2 class="NomeRestaurante">Subway</h2>
              <p style="padding: 10px; width: 230px; display:block; white-space: pre-wrap;"><b>Praça da Liberdade, 180 (1km)</b></p>
            </div>
          </div>
        </ion-item>
      </div>

      <div class="itemArtigo itemPalestrante">
        <ion-item style="padding-left: 0px;padding-top: 0px;padding-bottom: 0px;">
          <div class="row">
            <div class="col col-70">
              <ion-thumbnail item-start>
                <img style="width:110px; height:90px;" alt="Poster" src="img/restaurante4.png">
              </ion-thumbnail>
            </div>
            <div class="col">
              <h2 class="NomeRestaurante">Habib´s</h2>
              <p style="padding: 10px; width: 230px; display:block; white-space: pre-wrap;"><b>Av. da Liberdade, 1070 (290m)</b></p>
            </div>
          </div>
        </ion-item>
      </div>

      <div class="itemArtigo itemPalestrante">
        <ion-item style="padding-left: 0px;padding-top: 0px;padding-bottom: 0px;">
          <div class="row">
            <div class="col col-70">
              <ion-thumbnail item-start>
                <img style="width:110px; height:90px;" alt="Poster" src="img/restaurante5.png">
              </ion-thumbnail>
            </div>
            <div class="col">
              <h2 class="NomeRestaurante">Franz Café</h2>
              <p style="padding: 10px; width: 230px; display:block; white-space: pre-wrap;"><b>Rua Tamandaré, 744 (600m)</b></p>
            </div>
          </div>
          <!--<button ion-button clear item-end>Consultar</button>-->
        </ion-item>
      </div>
      <div class="itemArtigo itemPalestrante">
        <ion-item style="padding-left: 0px;padding-top: 0px;padding-bottom: 0px;">
          <div class="row">
            <div class="col col-70">
              <ion-thumbnail item-start>
                <img style="width:110px; height:90px;" alt="Poster" src="img/restaurante6.png">
              </ion-thumbnail>
            </div>
            <div class="col">
              <h2 class="NomeRestaurante">Jasmim Chinese</h2>
              <p style="padding: 10px; width: 230px; display:block; white-space: pre-wrap;"><b>R. Galvão Bueno, 700 (750m)</b></p>
            </div>
          </div>
          <!--<button ion-button clear item-end>Consultar</button>-->
        </ion-item>
      </div>
      <div class="itemArtigo itemPalestrante">
        <ion-item style="padding-left: 0px;padding-top: 0px;padding-bottom: 0px;">
          <div class="row">
            <div class="col col-70">
              <ion-thumbnail item-start>
                <img style="width:110px; height:90px;" alt="Poster" src="img/restaurante7.png">
              </ion-thumbnail>
            </div>
            <div class="col">

              <h2 class="NomeRestaurante">Espaço Vergueiro</h2>
              <p style="padding: 10px; width: 230px; display:block; white-space: pre-wrap;">(Restaurante self-service. Gastronomia variada casual em self-service com opções caseiras, vegetarianas, e mesas em pátio a céu aberto).<br></p>
              <p style="padding: 10px; width: 230px; display:block; white-space: pre-wrap;"><b>Rua Vergueiro, 803 (650m)</b>
              </p>
            </div>
          </div>
          <!--<button ion-button clear item-end>Consultar</button>-->
        </ion-item>
      </div>
      <div class="itemArtigo itemPalestrante">
        <ion-item style="padding-left: 0px;padding-top: 0px;padding-bottom: 0px;">
          <div class="row">
            <div class="col col-70">
              <ion-thumbnail item-start>
                <img style="width:110px; height:90px;" alt="Poster" src="img/restaurante8.png">
              </ion-thumbnail>
            </div>
            <div class="col">

              <h2 class="NomeRestaurante">Sukiya</h2>
              <p style="padding: 10px; width: 230px; display:block; white-space: pre-wrap;">(A gastronomia tradicional do Japão com pegada de lanchonete servida em cadeia japonesa de comida expressa).</p>
              <p style="padding: 10px; width: 230px; display:block; white-space: pre-wrap;"><b>Rua Vergueiro, 20 (260m)</b></p>
            </div>
          </div>
          <!--<button ion-button clear item-end>Consultar</button>-->
        </ion-item>
      </div>
      <div class="itemArtigo itemPalestrante">
        <ion-item style="padding-left: 0px;padding-top: 0px;padding-bottom: 0px;">
          <div class="row">
            <div class="col col-70">
              <ion-thumbnail item-start>
                <img style="width:110px; height:90px;" alt="Poster" src="img/restaurante9.png">
              </ion-thumbnail>
            </div>
            <div class="col">

              <h2 class="NomeRestaurante">Hinode</h2>
              <p style="padding: 10px; width: 230px; display:block; white-space: pre-wrap;">(O restaurante oferece pratos diversos da gastronomia japonesa,em ambiente moderno, simples e acolhedor).</p>
              <p style="padding: 10px; width: 230px; display:block; white-space: pre-wrap;"><b>R. Thomaz Gonzaga, 62 (900m)</b> </p>

            </div>
          </div>
          <!--<button ion-button clear item-end>Consultar</button>-->
        </ion-item>
      </div>
      <div class="itemArtigo itemPalestrante">
        <ion-item style="padding-left: 0px;padding-top: 0px;padding-bottom: 0px;">
          <div class="row">
            <div class="col col-70">
              <ion-thumbnail item-start>
                <img style="width:110px; height:90px;" alt="Poster" src="img/restaurante10.png">
              </ion-thumbnail>
            </div>
            <div class="col">


              <h2 class="NomeRestaurante">Ponto Chic</h2>
              <p style="padding: 10px; width: 230px; display:block; white-space: pre-wrap;">(Lanches, sucos, shakes e pratos diversos servidos em mesas nesta lanchonete famosa por ter criado o bauru).</p>
              <p style="padding: 10px; width: 230px; display:block; white-space: pre-wrap;"><b>Praça Oswaldo Cruz (1,3Km)</b></p>
            </div>
          </div>
        </ion-item>
      </div>

      <div class="itemArtigo itemPalestrante">
        <ion-item style="padding-left: 0px;padding-top: 0px;padding-bottom: 0px;">
          <div class="row">
            <div class="col col-70">
              <ion-thumbnail item-start>
                <img style="width:110px; height:90px;" alt="Poster" src="img/restaurante11.png">
              </ion-thumbnail>
            </div>
            <div class="col">

              <h2 class="NomeRestaurante">Bar e Restaurante Limoeiro</h2>
              <p style="padding: 10px; width: 230px; display:block; white-space: pre-wrap;"><b>Vergueiro, 883 (750m)</b></p>
            </div>
          </div>
          <!--<button ion-button clear item-end>Consultar</button>-->
        </ion-item>
      </div>
      <div class="itemArtigo itemPalestrante">
        <ion-item style="padding-left: 0px;padding-top: 0px;padding-bottom: 0px;">
          <div class="row">
            <div class="col col-70">
              <ion-thumbnail item-start>
                <img style="width:110px; height:90px;" alt="Poster" src="img/restaurante12.png">
              </ion-thumbnail>
            </div>
            <div class="col">


              <h2 class="NomeRestaurante">Charme da Vergueiro</h2>
              <p style="padding: 10px; width: 230px; display:block; white-space: pre-wrap;"><b>Rua Vergueiro, 54 (230m)</b></p>

            </div>
          </div>
        </ion-item>
      </div>
      <div class="itemArtigo itemPalestrante">
        <ion-item style="padding-left: 0px;padding-top: 0px;padding-bottom: 0px;">
          <div class="row">
            <div class="col col-70">
              <ion-thumbnail item-start>
                <img style="width:110px; height:90px;" alt="Poster" src="img/restaurante13.png">
              </ion-thumbnail>
            </div>
            <div class="col">


              <h2 class="NomeRestaurante">Viena</h2>
              <p style="padding: 10px; width: 230px; display:block; white-space: pre-wrap;">(Pratos seletos da cozinha brasileira e grelhados, em rede expressa com balcão de café, lanches e sobremesas)</p>
              <p style="padding: 10px; width: 230px; display:block; white-space: pre-wrap;"><b>Prédio AC Camargo - R. Prof. Antônio Prudente, 211 (280m)</b></p>

            </div>
          </div>
        </ion-item>
      </div>
      <div class="itemArtigo itemPalestrante">
        <ion-item style="padding-left: 0px;padding-top: 0px;padding-bottom: 0px;">
          <div class="row">
            <div class="col col-70">
              <ion-thumbnail item-start>
                <img style="width:110px; height:90px;" alt="Poster" src="img/restaurante14.png">
              </ion-thumbnail>
            </div>
            <div class="col">

              <h2 class="NomeRestaurante">Alcachofra Restaurante</h2>
              <p style="padding: 10px; width: 230px; display:block; white-space: pre-wrap;">(self-service)</p>
              <p style="padding: 10px; width: 230px; display:block; white-space: pre-wrap;"><b>Rua Tamandaré, 914 (450m)</b></p>

            </div>
          </div>
        </ion-item>
      </div>
      <div class="itemArtigo itemPalestrante">
        <ion-item style="padding-left: 0px;padding-top: 0px;padding-bottom: 0px;">
          <div class="row">
            <div class="col col-70">
              <ion-thumbnail item-start>
                <img style="width:110px; height:90px;" alt="Poster" src="img/restaurante15.png">
              </ion-thumbnail>
            </div>
            <div class="col">


              <h2 class="NomeRestaurante">Chaleiras Grill</h2>
              <p style="padding: 10px; width: 230px; display:block; white-space: pre-wrap;">(Espaço self-service informal oferece saladas e pratos quentes, além do churrasco).</p>
              <p style="padding: 10px; width: 230px; display:block; white-space: pre-wrap;"><b>R. Castro Alves, 203 (500m)</b></p>

            </div>
          </div>
          <!--<button ion-button clear item-end>Consultar</button>-->
        </ion-item>
      </div>
      <div class="itemArtigo itemPalestrante">
        <ion-item style="padding-left: 0px;padding-top: 0px;padding-bottom: 0px;">
          <div class="row">
            <div class="col col-70">
              <ion-thumbnail item-start>
                <img style="width:110px; height:90px;" alt="Poster" src="img/restaurante16.png">
              </ion-thumbnail>
            </div>
            <div class="col">

              <h2 style="margin-right: 120px;">Chaleiras Grill</h2>
              <p style="padding: 10px; width: 230px; display:block; white-space: pre-wrap;">(Espaço self-service informal oferece saladas e pratos quentes, além do churrasco).</p>
              <p style="padding: 10px; width: 230px; display:block; white-space: pre-wrap;"><b>R. Castro Alves, 203 (500m)</b></p>

            </div>
          </div>

          <!--<button ion-button clear item-end>Consultar</button>-->
        </ion-item>
      </div>
    </ion-list>

  </ion-content>

  <script src="build/polyfills.js"></script>

  <!-- The vendor js is generated during the build process
       It contains all of the dependencies in node_modules -->
  <script src="build/vendor.js"></script>

  <!-- The main bundle js is generated during the build process -->
  <script src="build/main.js"></script>